@import "bourbon";
@import "variables.scss";
@import "mixins.scss";

/**
 * Elements 
 */
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    user-select: none;
    overflow: hidden;
    height: 100%;
}

.side-nav {
    padding: 0 10px;
    background-color: rgba(22, 22, 22, 1.0);

    .select-wrapper { 
        input.select-dropdown {
            color: rgba(255, 255, 255, 0.75);
            background-color: rgba(255, 255, 255, 0.025);
        }

        .caret {
            color: rgba(255, 255, 255, 0.75);
        }
    }

    .btn-flat {
        color: rgba(255, 255, 255, 0.75);

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:focus {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    .faerun-controls-header {
        position: relative;
        color: rgba(255, 255, 255, 0.95);

        span {
            display: inline-block;
            margin-left: 24px;
            line-height: 24px;
        }

        i {
            position: absolute;
            font-size: 16px;
            line-height: 24px;
        }
    }
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    height: 100%;

    header, main {
        position: relative;
        box-sizing: border-box;
        
        align-self: auto;
        order: 0;
    }

    header {
        flex: 0 1 auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: stretch;

        height: 50px;

        padding: 10px 20px 8px 10px;

        background-color: rgba(0, 0, 0, 1.0);
        border-bottom: 1px solid rgba(32, 32, 32, 1.0);

        .hamburger, .title, .more {
            position: relative;
            box-sizing: border-box;
            
            align-self: auto;
            order: 0;
        }

        .title {
            flex: 1 1 auto;

            span {
                display: inline-block;
                position: relative;
                margin-top: 2px;
                color: #fff;
                font-size: 1.2em;

                &:nth-child(1) {
                    padding-left: 32px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.95);
                }

                &:nth-child(3) {
                    color: rgba(255, 255, 255, 0.5);
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 24px;
                }
            }
        }

        .more {
            flex: 0 1 auto;
        }

        .hamburger {
            flex: 0 1 auto;

            padding-right: 20px;
            padding-top: 2px;
        }
    }

    main {
        flex: 1 1 auto;

        background-color: #121212;

        #lore {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.faerun-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    z-index: 995;
    position: absolute;
    top: 49px;
    left: 0px;

    height: calc(100% - 50px);
    width: 200px;

    padding: 0 10px;

    background-color: rgba(0, 0, 0, 0.75);
    transition: background-color 0.2s ease-in-out;
    
    border-right: 1px solid rgba(32, 32, 32, 1.0);
    border-top: 1px solid rgba(20, 20, 20, 1.0);

    cursor: default !important;

    &:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: rgba(0, 0, 0, 1.0);
    }

    .flex-item {
        position: relative;
        box-sizing: border-box;

        align-self: auto;
        order: 0;

        &:nth-child(1) {
            flex: 0 1 auto;
        }

        &:nth-child(2) {
            flex: 0 1 auto;
        }

        &:nth-child(3) {
            flex: 0 1 auto;
        }

        &:nth-child(4) {
            flex: 0 1 auto;
        }

        &:nth-child(5) {
            flex: 0 1 auto;
        }

        &:nth-child(6) {
            flex: 0 1 auto;
        }

        &:nth-child(7) {
            flex: 0 1 auto;
        }

        &:nth-child(8) {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }

    .title {
        padding: 10px 0;
        color: rgba(255, 255, 255, 0.5);
        font-weight: 500;
        font-size: 0.9em;
        line-height: 0.9em;
    }

    p.range-field {
        margin-top: 0;
        margin-bottom: 2px;

         @include custom-slider(rgba(255, 255, 255, 0.75));

        &.color-range {
            @include custom-slider(linear-gradient(to right, rgba(0,0,255,1) 0%, rgba(0,255,255,1) 25%, rgba(255,255,0,1) 50%, rgba(255,0,0,1) 75%, rgba(255,0,255,1) 100%));
        }

        input {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }
}























/**
 *  ID - Elements
 */
#loader {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

    #loader-inner {
        position: relative;
        display: inline-block;
        margin-top: 20px;
        padding: 20px 20px 15px 20px;
    
        .loading-message {
            color: rgba(255, 255, 255, 0.75);
            margin-top: 10px;
        }
    }
}

/**
 * Classes 
 */
.hidden {
    display: none;
}

.faerun-info {
    padding: 10px;
    background-color: #FFDA77;
}

.flex-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    height: 100%;

    .flex-item {
        position: relative;
        box-sizing: border-box;
        
        align-self: auto;
        order: 0;

        &:nth-child(1) {
            flex: 0 1 auto;
        }

        &:nth-child(2) {
            flex: 0 1 auto;
        }

        &:nth-child(3) {
            flex: 1 1 auto;
        }

        &:nth-child(4) {
            flex: 0 1 auto;
        }
    }
}

.colorpicker-container {
    position: relative;
    padding-left: 34px;

    .colorpicker {
        z-index: 9999999;
        position: absolute;
        top: 50px;
        padding: 2px;
        background-color: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
        
        font-size: 0;
        line-height: 0;

        div {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: 2px;

            border: 1px solid #fff;

            font-size: 0;
            line-height: 0;

            transition: all 0.2s ease-in-out;

            &:hover {
                border: 1px solid #555;
            }
        }
    }

    .indicator {
        position: absolute;
        
        left: 0px;
        top: 22px;

        width: 25px;
        height: 25px;
    }
}

.checkbox-container, .radio-container {
    display: inline-block; 
}

.checkbox, .radio {
    opacity: 0;
    position: absolute;   
}

.checkbox, .checkbox-label, .radio, .radio-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}

.checkbox-label, .radio-label {
    position: relative;
}

.checkbox + .checkbox-label:before, .radio + .radio-label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2); 
}

.checkbox:checked + .checkbox-label:before {
    content: '\00d7';
    color: #fff;
    font-size: 1.5em;
    line-height: 10px;
}

.radio:checked + .radio-label:before {
    content: '\00d7';
    color: #fff;
    font-size: 1.5em;
    line-height: 10px;
}

.hidden-mobile {
    @media only screen and (max-device-width: $responsive-mobile-max-width) {
        display: none;
    }
}

