@import "bourbon";
@import "variables.scss";
@import "mixins.scss";

/**
 * Elements 
 */
html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
    user-select: none;
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

::selection {
  background: $accent-color-alt;
  color: #eee;
}

// Custom scrollbars
::-webkit-scrollbar {
    background: rgba(120, 120, 120, 0.25);
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(150, 150, 150, 0.25);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 1.0); }
    85% { box-shadow: 0 0 0 20px rgba(255, 255, 255, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
}

@keyframes pulse-border {
    0% { border: 1px solid rgba(255, 255, 255, 0.1) }
    50% { border: 1px solid rgba(255, 255, 255, 0.5) }
    100% { border: 1px solid rgba(255, 255, 255, 0.1) }
}

@keyframes pulse-background-color {
    0% { background-color: rgba(255, 255, 255, 0.05) }
    50% { background-color: rgba(255, 255, 255, 0.1) }
    100% { background-color: rgba(255, 255, 255, 0.05) }
}

.faerun-textarea {
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: rgba(240, 240, 240, 1.0);
    border: 0px;
    outline-width: 0px;   
    box-sizing: border-box;
    font-family: 'Roboto Mono';

    &:focus {
        border: 0px;
    }
}

.modal {
    .title {
        padding-left: 10px;
        font-size: 1.6em;
        font-weight: 400;
        color: rgba(50, 50, 50, 1.0);
    }

    .row {
        margin-bottom: 0;
    }
}

.select-indicator {
    z-index: 900;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    &.current {
        animation: pulse 2s infinite;
    }
}

.side-nav {
    box-sizing: padding-box;
    padding: 0 10px;
    background-color: rgba(22, 22, 22, 1.0);
    height: 100% !important;

    .select-wrapper { 
        input.select-dropdown {
            color: rgba(255, 255, 255, 0.75);
        }

        .caret {
            color: rgba(255, 255, 255, 0.75);
        }
    }

    .input-field.select {
        margin-top: 26px;
    }

    .spacer {
        height: 10px;
    }

    .btn-flat {
        width: 280px;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: -5px;
        color: rgba(255, 255, 255, 0.75);

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }

        &:focus {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    .faerun-controls-header {
        position: relative;
        color: $accent-color;
        margin-bottom: 0px;

        span {
            display: inline-block;
            margin-left: 24px;
            line-height: 24px;
        }

        i {
            position: absolute;
            top: 3px;
            font-size: 16px;
        }
    }

    .faerun-controls-small {
        font-size: 0.75em;
        color: #9e9e9e;
        margin-bottom: 2px;
        margin-top: 0px;

        b {
            color: $accent-color-alt;
        }
    }

    .stats {
        position: relative;

        #stats-canvas {
            position: relative;
            border: 1px solid #111;
            background-color: #111;
        }

        #stats-x-label, #stats-y-label {
            position: absolute;
            margin: 0;
            padding: 0;
            font-size: 0.5em;
            color: #bbb;
            text-transform: uppercase;
        }

        #stats-x-label {
            top: 189px;
            left: 105px;
        }

        #stats-y-label {
            top: 100px;
            left: -20px;
            transform: rotate(-90deg);
        }
    }
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    height: 100%;

    header, main {
        position: relative;
        box-sizing: border-box;
        
        align-self: auto;
        order: 0;
    }

    header {
        flex: 0 1 auto;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        align-items: stretch;

        z-index: 996;

        height: 50px;

        padding: 10px 20px 8px 10px;

        background-color: $main-color;
        border-bottom: 1px solid lighten($main-color, 2%);

        box-shadow: 0px 2px 2px 0px rgba(0,0,0,1.0);

        .hamburger, .title, .more {
            position: relative;
            box-sizing: border-box;
            
            align-self: auto;
            order: 0;
        }

        .title {
            flex: 1 1 auto;

            span {
                display: inline-block;
                position: relative;
                margin-top: 2px;
                color: #fff;
                font-size: 1.2em;

                &:nth-child(1) {
                    padding-left: 32px;
                    font-weight: 400;
                    color: rgba(255, 255, 255, 0.95);
                }

                &:nth-child(3) {
                    color: $accent-color;
                }

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 24px;
                }
            }
        }

        .more {
            flex: 0 1 auto;
        }

        .hamburger {
            flex: 0 1 auto;

            padding-right: 20px;
            padding-top: 2px;
        }
    }

    main {
        flex: 1 1 auto;

        background-color: #121212;

        #lore {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.faerun-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    z-index: 995;
    position: absolute;
    top: 50px;
    left: 0px;

    height: calc(100% - 50px);
    width: 200px;

    padding: 5px 10px;

    background-color: $panel-color;
    opacity: 0.9;
    transition: opacity 0.2s ease-in-out;

    cursor: default !important;

    &:hover {
        transition: opacity 0.2s ease-in-out;
        opacity: 1.0;
    }

    .flex-item {
        position: relative;
        box-sizing: border-box;

        align-self: auto;
        order: 0;

        &:nth-child(1) {
            flex: 0 1 auto;
        }

        &:nth-child(2) {
            flex: 0 1 auto;
        }

        &:nth-child(3) {
            flex: 0 1 auto;
        }

        &:nth-child(4) {
            flex: 0 1 auto;
        }

        &:nth-child(5) {
            flex: 0 1 auto;
        }

        &:nth-child(6) {
            flex: 0 1 auto;
        }

        &:nth-child(7) {
            flex: 0 1 auto;
        }

        &:nth-child(8) {
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }

    .title {
        position: relative;
        padding: 10px 0;
        padding-left: 15px;
        color: lighten($panel-color, 50%);
        font-weight: 500;
        font-size: 0.9em;
        line-height: 0.9em;
        text-transform: uppercase;

        i {
            position: absolute;
            left: 0;
            top: 10px;
            font-size: 0.9em;
        }
    }

    label {
        color: lighten($panel-color, 25%);
    }

    p.range-field {
        margin-top: 0;
        margin-bottom: 2px;

        @include custom-slider(lighten($panel-color, 25%));

        &.color-range {
            @include custom-slider(linear-gradient(to right, rgba(0,0,255,0.75) 0%, rgba(0,255,255,0.75) 25%, rgba(255,255,0,0.75) 50%, rgba(255,0,0,0.75) 75%, rgba(255,0,255,0.75) 100%));
        }

        input {
            margin-top: 2px;
            margin-bottom: 2px;
        }
    }

    p.info-title, p.info {
        font-size: 0.75em;
    }

    p.info-title {
        margin-bottom: 2px;
        margin-top: 5px;
        color: lighten($panel-color, 50%);
    }

    p.info {
        margin: 0px;
        color: $accent-color-alt;
        word-wrap: break-word;
        user-select: text;
    }

    #layer-container {
        position: relative;
        min-height: 25px;

        &:empty {
            &::after {
                content: "No Layers Loaded";
                position: absolute;
                top: 5px;
                left: 50px;
                color: lighten($panel-color, 5%);
                font-size: 0.75em;
                font-weight: bold;
            }
        }

        .item {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-content: stretch;
            align-items: stretch;

            height: 30px;

            div {
                align-self: auto;
                order: 0;
            }

            .color {
                width: 20px;
                height: 20px;
                margin: 5px;
                margin-top: 4px;
                margin-left: 0;
                border-radius: 50%;

                flex: 0 1 auto;
            }

            .name {
                color: lighten($panel-color, 35%);
                font-size: 0.9em;
                line-height: 30px;

                flex: 1 1 auto;
            }

            .checkbox-container, .radio-container {
                flex: 0 1 auto;
                display: inline-block; 
                padding-top: 3px;

                label {
                    padding-left: 22px !important;
                }
            }
        }
    }

    #select-container {
        position: relative;

        &:empty {
            &::after {
                content: "No Compounds Selected";
                position: absolute;
                top: 16px;
                left: 35px;
                color: lighten($panel-color, 5%);
                font-size: 0.75em;
                font-weight: bold;
            }
        }

        .item {
            position: relative;
            height: 54px;
            padding: 2px;
            background-color: $panel-color;
            transition: background-color 0.2s ease-in-out;
            border: 1px solid transparent;

            &:nth-child(even) {
                background-color: lighten($panel-color, 2%);
            }

            &:not(.current) {
                &:hover {
                    animation: pulse-background-color 2s infinite;
                }
            }

            &.current {
                animation: pulse-background-color 2s infinite;
            }

            .closer {
                position: absolute;
                display: block;
                right: 5px;
                top: 5px;
                color: #bbb;
                text-decoration: none;
                font-weight: bold;
                text-align: center;

                &:hover {
                    opacity: 0.75;
                    color: #f00;
                }

                i {
                    font-size: 1.2em;
                }
            }

            .center {
                position: absolute;
                display: block;
                right: 25px;
                top: 5px;
                color: #bbb;
                text-decoration: none;
                font-weight: bold;
                text-align: center;

                &:hover {
                    opacity: 0.75;
                    color: #0f0;
                }

                i {
                    font-size: 1.2em;
                }
            }

            .id, .idx, .size {
                position: absolute;
                display: block;
                display: none;
                left: 60px;
                top: 3px;
                text-decoration: none;
                font-size: 0.9em;
                text-align: center;
                color: #bbb;

                font-family: 'Roboto Mono', monospace;

                b {
                    color: #eee;
                }
            }

            .id {
                top: 19px;
            }

            .size {
                top: 35px;
            }
        }
    }  
}























/**
 *  ID - Elements
 */
#loader {
    position: absolute;
    z-index: 999999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;

    #loader-inner {
        position: relative;
        display: inline-block;
        padding: 20px 20px 15px 20px;
    
        #loading-message {
            color: lighten($panel-color, 35%);
            margin-top: 10px;
        }
    }
}

/**
 * Classes 
 */
.hidden {
    display: none !important;
}

.faerun-info {
    padding: 10px;
    background-color: #FFDA77;
}

.flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    height: 100%;

    .flex-item {
        position: relative;
        box-sizing: border-box;
        
        align-self: auto;
        order: 0;
        flex: 0 1 auto;

        &.stretch {
            flex: 1 1 auto;
        }
    }
}

.colorpicker-container {
    position: relative;
    padding-left: 34px;

    .colorpicker {
        z-index: 9999999;
        position: absolute;
        top: 50px;
        padding: 2px;
        background-color: #fff;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
        
        font-size: 0;
        line-height: 0;

        div {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: 2px;

            border: 1px solid #fff;

            font-size: 0;
            line-height: 0;

            transition: all 0.2s ease-in-out;

            &:hover {
                border: 1px solid #555;
            }
        }
    }

    .indicator {
        position: absolute;
        
        right: 10px;
        top: 8px;

        width: 25px;
        height: 25px;
    }
}

.hidden-mobile {
    @media only screen and (max-device-width: $responsive-mobile-max-width) {
        display: none;
    }
}

