@import "common.scss";
@import "mixins.scss";

/**
 * Elements 
 */

/**
 * ID - Elements 
 */

#hover-indicator {
    z-index: 999;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 100px;
    pointer-events: none;
}

#lore-cell, #molecule-cell {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    vertical-align: top;
   
    &.full-width {
        width: 100%;
    }

    @media only screen and (max-width: $responsive-details-max-width) {
        display: block;
        width: 100%;
        height: 50%;
    }
}

#molecules {
    user-select: none;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    padding: 5px;
    box-sizing: border-box;
    background-color: #121212;
    text-align: center;
    line-height: 0;
}

/**
 * Classes 
 */

.molecule {
    display: inline-block;
    width: 300px;
    height: 375px;
    margin: 5px;
    background: linear-gradient(to bottom, #c0392b 0%, #444 50%, #444 100%);
    transition: opacity 0.2s linear;

    &.highlight {
        opacity: 1.0;
    }

    &.dimmed {
        opacity: 0.75;
    }

    a {
        display: inline-block;
        padding: 16px 51px;
        color: #fff;
        text-decoration: none;
        font-size: 0.9em;
        line-height: 0.9em;
        transition: background 0.1s linear;

        &:hover {
            background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 0%,rgba(255, 255, 255, 0.05) 100%);
        }

        &.details {
            transition: background 0.1s linear;
            border-right: 1px solid #555;  
        }

        &.more {
            border-left: 1px solid #222;
        }
    }

    p {
        padding: 2px 5px;
        margin: 0;
        color: #fff;
        font-size: 0.8em;
        font-weight: bold;
    }
}


.structure-view {
    background-color: #fff;
    margin-bottom: 2px;
}

.structure-more {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.95);
    text-align: left;
    overflow-y: auto;

    p {
        padding: 0;
        margin-bottom: 10px;
        font-size: 1.2em;
        font-weight: normal;
        color: #000;
    }

    a {
        display: inline-block;
        margin: 0;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 1.0em;
        color: #c0392b;

        &:hover {
            background-color: #c0392b;
            color: #fff;
        }
    }
}
