@import "common.scss";
@import "mixins.scss";

/**
 * Elements 
 */

/**
 * ID - Elements 
 */
#hover-indicator {
    z-index: 999;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}

#select-indicator {
    z-index: 999;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}

#hover-structure {
    pointer-events: none;

    .hover-bin-size {       
        color: rgba(255, 255, 255, 0.75);

        font-family: 'Roboto Mono', monospace;
        font-size: 0.7em;
        line-height: 0.7em;

        i {
            display: none;
            font-size: 0.7em !important;
            line-height: 0.7em !important;
            margin-top: 1px;
        }

        label:first-child {
            margin-left: 5px;
        }

        span {
            color: #eee;
        }
    }
}

#toast-error {
    background-color: #c0392b;
}