@import "common.scss";
@import "mixins.scss";

/**
 * Elements 
 */

/**
 * ID - Elements 
 */
#hover-indicator {
    z-index: 999;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}

#hover-structure {
    pointer-events: none;

    @media only screen and (max-device-width: $responsive-mobile-max-width) {
        top: 50px;
        left: 0;
        right: 0;
        width: 300px;
        height: 300px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.2);
    }

    canvas {
        margin: 0px 5px 10px 5px;
    }

    .hover-bin-size {
        position: absolute;
        left: 5px;
        right: 5px;
        bottom: 10px;
        color: rgba(255, 255, 255, 0.75);

        text-transform: uppercase;
        font-family: 'Roboto Mono', monospace;
        font-size: 0.8em;
        line-height: 0.8em;

        i {
            font-size: 0.75em !important;
            line-height: 0.75em !important;
            margin-top: 1px;
        }

        label:first-child {
            margin-left: 5px;
        }

        span {
            color: #eee;
        }
    }
}

#select-container {
    position: relative;

    &:empty {
        &::after {
            content: "No Compounds Selected";
            position: absolute;
            top: 16px;
            left: 35px;
            color: rgba(255, 255, 255, 0.25);
            font-size: 0.75em;
            font-weight: bold;
        }
    }

    .item {
        position: relative;
        height: 54px;
        padding: 2px;
        margin-bottom: 2px;
        background-color: rgba(0, 0, 0, 0.75); 

        &:hover {
            background-color: rgba(20, 20, 20, 0.75);
        }

        .closer {
            position: absolute;
            display: block;
            right: 5px;
            top: 5px;
            color: #bbb;
            text-decoration: none;
            font-weight: bold;
            text-align: center;

            &:hover {
                opacity: 0.75;
                color: #f00;
            }

            i {
                font-size: 1.2em;
            }
        }

        .center {
            position: absolute;
            display: block;
            right: 25px;
            top: 5px;
            color: #bbb;
            text-decoration: none;
            font-weight: bold;
            text-align: center;

            &:hover {
                opacity: 0.75;
                color: #0f0;
            }

            i {
                font-size: 1.2em;
            }
        }

        .id, .idx, .size {
            position: absolute;
            display: block;
            left: 60px;
            top: 3px;
            text-decoration: none;
            font-size: 0.9em;
            text-align: center;
            color: #bbb;

            font-family: 'Roboto Mono', monospace;

            b {
                color: #eee;
            }
        }

        .id {
            top: 19px;
        }

        .size {
            top: 35px;
        }
    }
}

#layer-container {
    position: relative;
    min-height: 25px;

    &:empty {
        &::after {
            content: "No Layers Loaded";
            position: absolute;
            top: 5px;
            left: 50px;
            color: rgba(255, 255, 255, 0.25);
            font-size: 0.75em;
            font-weight: bold;
        }
    }

    .item {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: stretch;

        height: 30px;
        background-color: rgba(0, 0, 0, 0.75);

        div {
            align-self: auto;
            order: 0;
        }

        .color {
            width: 20px;
            height: 20px;
            margin: 5px;

            flex: 0 1 auto;
        }

        .name {
            color: #fff;
            font-size: 1.2em;
            line-height: 30px;

            flex: 1 1 auto;
        }

        .checkbox-container, .radio-container {
            flex: 0 1 auto;
        }
    }
}

#toast-error {
    background-color: #c0392b;
}

#dialog-search, #dialog-project, #dialog-knn {
    width: 75%;
    height: 75%;

    &::backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);   
    }

    textarea {
        position: absolute;
        display: block;
        width: calc(100% - 48px);
        height: calc(100% - 35px);
        box-sizing: border-box;
        padding: 5px;
        resize: none;
        white-space: nowrap;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;
        color: #222;

        &:focus {
            outline: none !important;
            border: 1px solid rgba(0, 0, 0, 0.25);
        }
    }
}

#dialog-project {
    .colorpicker-container, .name-container {
        display: inline-block;
    }

    .name-container {
        padding-left: 34px;
    }
}

#stats-canvas {
    position: relative;
    border: 1px solid #111;
    background-color: #111;
}

#stats-x-label, #stats-y-label {
    position: absolute;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 0.5em;
    text-transform: uppercase;
    opacity: 0.5;
}

#stats-x-label {
    top: 96px;
    left: 65px;
}

#stats-y-label {
    top: 40px;
    left: -37px;
    transform: rotate(-90deg);
}

/**
 * Classes 
 */

.select-indicator {
    z-index: 999;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    pointer-events: none;
}
