@import "common.scss";
@import "mixins.scss";

/**
 * Elements 
 */

/**
 * ID - Elements 
 */

#hud-container {
    position: absolute;
    margin: auto;
    z-index: 9999999;
    width: 360px;
    bottom: -20px;
    @include transition(bottom 1s $ease-in-out-back);
    left: calc(50% - 180px);
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 25px;

    &.hidden {
        display: block !important;
        bottom: calc(34px - 190px - 20px);
        @include transition(bottom 1s $ease-in-out-back);
    }

    label {
        color: rgba(255, 255, 255, 0.8);
        margin-left: 20px;
    }

    .mdl-button {
        margin: 5px;

        i {
            color: rgba(255, 255, 255, 1.0);
        }
    }

    @include mdl-slider (rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.15));

    // The rainbow
    .slider-color-container { 
        .mdl-slider__background-flex {
            @include linear-gradient(to right, rgba(0,0,255,1) 0%, rgba(0,255,255,1) 25%, rgba(255,255,0,1) 50%, rgba(255,0,0,1) 75%, rgba(255,0,255,1) 100%);
        }

        .mdl-slider__background-lower {
            background: rgba(255, 255, 255, 0.5);
        }

        .mdl-slider__background-upper {
            background: transparent;
        }
    }

    .spacer {
        display: block;
        margin-bottom: 10px;
    }

    @media only screen and (max-device-width: $responsive-mobile-max-width) {
        width: 100%;
        left: 0px;
    }


    #hud-header {
        z-index: 99999;
        height: 24px;
        margin-bottom: 5px;
        padding: 5px;
        outline: none;
        cursor: pointer;

        @media only screen and (max-device-width: $responsive-mobile-max-width) {
            height: 42px;
        }

        &:hover {
            i, span {
                opacity: 1.0;
                @include transition(opacity 0.2s $ease-in-out-cubic);
            }
        }

        i, span {
            opacity: 0.75; 
            @include transition(opacity 0.2s $ease-in-out-cubic);
            line-height: 24px;
        }

        span {
            padding-left: 5px;
            font-size: 1.0em;
            font-weight: bold;

            @media only screen and (max-device-width: $responsive-mobile-max-width) {
                font-size: 1.2em;
                line-height: 42px;
            }
        }

        i {
            float: right;
            font-size: 1.8em;

            transform: rotate(0deg);
            @include transition(transform 1s $ease-in-out-back);

            &.rotate {
                transform: rotate(180deg) !important;
                @include transition(transform 1s $ease-in-out-back);
            }
            
            @media only screen and (max-device-width: $responsive-mobile-max-width) {
                font-size: 2.2em;
                line-height: 42px;
            }
        }
    }
}

#hover-indicator {
    z-index: 999;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    pointer-events: none;
}

#hover-structure {
    pointer-events: none;

    @media only screen and (max-device-width: $responsive-mobile-max-width) {
        top: 50px;
        left: 0;
        right: 0;
        width: 300px;
        height: 300px;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.2);
    }

    canvas {
        margin: 0px 5px 10px 5px;
    }
}

#select-container {
    margin: 0px 5px 0px 5px;

    .item {
        position: relative;
        height: 54px;
        padding: 2px;
        margin-bottom: 2px;
        background-color: rgba(255, 255, 255, 0.02); 

        &:hover {
            background-color: rgba(255, 255, 255, 0.04);
        }

        .closer {
            position: absolute;
            display: block;
            right: 5px;
            top: 5px;
            color: #bbb;
            text-decoration: none;
            font-size: 1.6em;
            font-weight: bold;
            text-align: center;

            &:hover {
                opacity: 0.75;
                color: #f00;
            }
        }

        .id, .idx {
            position: absolute;
            display: block;
            left: 60px;
            top: 5px;
            text-decoration: none;
            font-size: 0.9em;
            text-align: center;
            color: #bbb;

            b {
                color: #eee;
            }
        }

        .id {
            top: 20px;
        }
    }
}

#layer-container {
    .item {
        @include display(flex);
        @include flex-direction(row);
        @include flex-wrap(nowrap);
        @include justify-content(flex-start);
        @include align-content(stretch);
        @include align-items(stretch);

        height: 30px;

        div {
            @include align-self(auto);
            @include order(0);
        }

        .color {
            width: 20px;
            height: 20px;
            margin: 5px;
            @include flex(0 1 auto);
        }

        .name {
            color: #fff;
            font-size: 1.2em;
            line-height: 30px;

            @include flex(1 1 auto);
        }

        .checkbox-container, .radio-container {

            @include flex(0 1 auto);
        }
    }
}

#toast-error {
    background-color: #c0392b;
}

#dialog-search, #dialog-project, #dialog-knn {
    width: 75%;
    height: 75%;

    &::backdrop {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.75);   
    }

    textarea {
        position: absolute;
        display: block;
        width: calc(100% - 48px);
        height: calc(100% - 35px);
        box-sizing: border-box;
        padding: 5px;
        resize: none;
        white-space: nowrap;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #fff;
        color: #222;

        &:focus {
            outline: none !important;
            border: 1px solid rgba(0, 0, 0, 0.25);
        }
    }
}

#dialog-project {
    .colorpicker-container, .name-container {
        display: inline-block;
    }

    .name-container {
        padding-left: 34px;
    }
}

#faerun-panel {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(nowrap);
    @include justify-content(flex-start);
    @include align-content(stretch);
    @include align-items(stretch);

    z-index: 999998;
    position: absolute;
    top: 10px;
    right: 10px;
    height: calc(100% - 20px);
    width: 300px;

    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #151515;

    cursor: default !important;

    .flex-item {
        position: relative;
        box-sizing: border-box;

        @include align-self(auto);
        @include order(0);

        &:nth-child(1) {
            @include flex(0 1 auto);
        }

        &:nth-child(2) {
            @include flex(0 1 auto);
        }

        &:nth-child(3) {
            @include flex(0 1 auto);
        }

        &:nth-child(4) {
            @include flex(0 1 auto);
        }

        &:nth-child(5) {
            @include flex(0 1 auto);
        }

        &:nth-child(6) {
            @include flex(1 1 auto);
            overflow-y: auto;
        }
    }

    .title {
        margin: 5px 5px 0px 5px;
        padding: 5px;
        color: rgba(255, 255, 255, 0.75);
        font-weight: bold;
        font-size: 1em;
        line-height: 1em;
        text-align: center;
    }
}

/**
 * Classes 
 */

.select-indicator {
    z-index: 999;
    position: absolute;
    display: block;
    left: 10px;
    top : 10px;
    width: 10px;
    height: 10px;
    background-color: #fff;
    pointer-events: none;
}


