// Copied from original source (thanks google)
@mixin custom-slider ($background) {
    input[type=range] {
        border: 0;

        &::-webkit-slider-runnable-track {
            background: $background;
            border-radius: 2px;
        }

        &::-moz-range-track {
            background: $background;
        }

        &::-ms-track {
            background: transparent;
            border-color: transparent;
            color: transparent;
        }

        &::-ms-fill-lower {
            background: $background;
        }
        
        &::-ms-fill-upper {
            background: $background;
        }

        &:focus::-ms-fill-lower {
            background: $background;
        }

        &:focus::-ms-fill-upper {
            background: $background;
        }
    }
}
