$responsive-mobile-max-width: 1023px;
$responsive-details-max-width: 669px;
$main-color: #101010;
$panel-color: #101010;
$accent-color: #EE5328;
$accent-color-alt: #3299BB;
$info-color: #ECD078;
$warning-color: #D95B43;
$error-color: #C02942;